{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h5>Reviews!</h5>
    {% for review in reviews %}

        {{review.id}} || {{review.reviewer_name}} || {{review.review_title}}
        <br>

    {% endfor %}
    <hr>


    <img src="{% static 'images/duvindu.jpg' %}" alt="my_img" height="150px" width="150px">


    <h5>Tasks!</h5>
    {% for task in tasks %}

        {{task.id}} || <a href="{% url 'task-detail' task.pk %}">{{task.title}}</a> || {{task.description}} ||
        <a href="{% url 'task-update' task.id %}">Update</a>
                                | 
        <a href="{% url 'task-delete' task.id %}">Delete</a>
        <br>

    {% endfor %}
    <hr>


{% endblock content %}



